@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h2 class="text-primary text-center">Betalning bekräftad</h2>
        <h4>DIN ORDER ÄR SKICKAD!</h4>
    </div>
    <img src="~/images/LTL-SHIPPING.png" width="70%" />
</div> 